@import "vars";

@font-face {
  font-family: "Involve";
  src: url("../fonts/involve/Involve-VF.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-Oblique.ttf") format("truetype"),
    url("../fonts/involve/Involve-Oblique.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-Regular.ttf") format("truetype"),
    url("../fonts/involve/Involve-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-Medium.ttf") format("truetype"),
    url("../fonts/involve/Involve-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-MediumOblique.ttf") format("truetype"),
    url("../fonts/involve/Involve-MediumOblique.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-SemiBold.ttf") format("truetype"),
    url("../fonts/involve/Involve-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-SemiBoldOblique.ttf") format("truetype"),
    url("../fonts/involve/Involve-SemiBoldOblique.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-Bold.ttf") format("truetype"),
    url("../fonts/involve/Involve-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Involve";
  src:
    url("../fonts/involve/Involve-BoldOblique.ttf") format("truetype"),
    url("../fonts/involve/Involve-BoldOblique.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  font-family: "Involve";
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#__next {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
}

footer {
  flex-shrink: 0;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-transform: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: calc(100% - 32px);
}

@media (min-width: $tablet) {
  .container {
    max-width: calc($tablet - 32px * 2);
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .container {
    max-width: calc($desktop - 64px * 2);
    margin: 0 auto;
    width: 100%;
  }
}
