@import "~@reactStyles/vars";

.container {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info {
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: $tablet) {
  .links {
    flex-direction: row;
  }

  .info {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
}
